
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/exam"><mat-icon color="white">assignment</mat-icon>Exam</a>
      <a mat-list-item routerLinkActive="active" routerLink="/doctor"><mat-icon color="white">medical_information</mat-icon> Doctor</a>
      <a mat-list-item routerLinkActive="active" routerLink="/patient"><mat-icon color="white">personal_injury</mat-icon> Patient</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>odmanagerapp</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
